@font-face {
    font-family: 'aislend-icons';
    src:  url('https://s3.amazonaws.com/icomoon.io/134436/Aislend/aislend-icons.eot?r5gony');
    src:  url('https://s3.amazonaws.com/icomoon.io/134436/Aislend/aislend-icons.eot?r5gony#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/icomoon.io/134436/Aislend/aislend-icons.woff2?r5gony') format('woff2'),
    url('https://s3.amazonaws.com/icomoon.io/134436/Aislend/aislend-icons.ttf?r5gony') format('truetype'),
    url('https://s3.amazonaws.com/icomoon.io/134436/Aislend/aislend-icons.woff?r5gony') format('woff'),
    url('https://s3.amazonaws.com/icomoon.io/134436/Aislend/aislend-icons.svg?r5gony#aislend-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon, [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'aislend-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-babies:before {
    content: "\e906";
}
.icon-bakery:before {
    content: "\e907";
}
.icon-breakfast:before {
    content: "\e908";
}
.icon-bulk:before {
    content: "\e909";
}
.icon-canned-goods:before {
    content: "\e90a";
}
.icon-dairy-products:before {
    content: "\e90b";
}
.icon-deli:before {
    content: "\e90e";
}
.icon-drink:before {
    content: "\e90f";
}
.icon-dry-goods:before {
    content: "\e937";
}
.icon-flower:before {
    content: "\e93a";
}
.icon-frozen:before {
    content: "\e93f";
}
.icon-household:before {
    content: "\e940";
}
.icon-international:before {
    content: "\e94b";
}
.icon-lifestyle:before {
    content: "\e955";
}
.icon-meat-seafood:before {
    content: "\e956";
}
.icon-pantry:before {
    content: "\e957";
}
.icon-personal-care:before {
    content: "\e958";
}
.icon-pets:before {
    content: "\e959";
}
.icon-produce:before {
    content: "\e95a";
}
.icon-sale-tag:before {
    content: "\e95b";
}
.icon-snacks:before {
    content: "\e95c";
}
.icon-offer:before {
    content: "\e961";
}
.icon-department:before {
    content: "\e962";
}
.icon-user-account:before {
    content: "\e95e";
}
.icon-checkbox-thick:before {
    content: "\e95d";
}
.icon-preview:before {
    content: "\e905";
}
.icon-arrow-right-bold:before {
    content: "\e900";
}
.icon-lock:before {
    content: "\e901";
}
.icon-phone:before {
    content: "\e902";
}
.icon-random:before {
    content: "\e903";
}
.icon-check-transparent:before {
    content: "\e904";
}
.icon-plus-thin:before {
    content: "\e954";
}
.icon-down-arrow-thick:before {
    content: "\e953";
}
.icon-check:before {
    content: "\e952";
}
.icon-facebook:before {
    content: "\e94d";
}
.icon-instagram:before {
    content: "\e94e";
}
.icon-angle-right:before {
    content: "\e94a";
}
.icon-instructions:before {
    content: "\e945";
}
.icon-reload:before {
    content: "\e943";
}
.icon-plus:before {
    content: "\e93d";
}
.icon-minus:before {
    content: "\e941";
}
.icon-notification:before {
    content: "\e942";
}
.icon-arrow-down:before {
    content: "\e93e";
}
.icon-close:before {
    content: "\e939";
}
.icon-serving:before {
    content: "\e90c";
}
.icon-share:before {
    content: "\e93c";
}
.icon-delivery-coverage:before {
    content: "\e93b";
}
.icon-watch:before {
    content: "\e92f";
}
.icon-search:before {
    content: "\e930";
}
.icon-main-cart:before {
    content: "\e931";
}
.icon-music:before {
    content: "\e95f";
}
.icon-family:before {
    content: "\e960";
}
.icon-local-delivery-single:before {
    content: "\e94f";
}
.icon-nation-wide-delivery:before {
    content: "\e950";
}
.icon-local-delivery-only:before {
    content: "\e951";
}
.icon-latin-food:before {
    content: "\e94c";
}
.icon-rich-in-omega-3:before {
    content: "\e946";
}
.icon-scented:before {
    content: "\e947";
}
.icon-ultra-thin:before {
    content: "\e948";
}
.icon-unscented:before {
    content: "\e949";
}
.icon-cage-free:before {
    content: "\e944";
}
.icon-high-in-protein:before {
    content: "\e938";
}
.icon-vegan:before {
    content: "\e90d";
}
.icon-organic:before {
    content: "\e933";
}
.icon-gluten-free:before {
    content: "\e934";
}
.icon-vegetarian:before {
    content: "\e935";
}
.icon-non-gmo:before {
    content: "\e936";
}
.icon-meat-n-poultry:before {
    content: "\e932";
}
.icon-all-natural:before {
    content: "\e910";
}
.icon-natural-ingredients:before {
    content: "\e910";
}
.icon-authentic-latino-flavor:before {
    content: "\e911";
}
.icon-cage-free-eggs:before {
    content: "\e912";
}
.icon-child-care:before {
    content: "\e913";
}
.icon-grass-fed:before {
    content: "\e914";
}
.icon-halal:before {
    content: "\e915";
}
.icon-healthy:before {
    content: "\e916";
}
.icon-high-fiber:before {
    content: "\e917";
}
.icon-instafood:before {
    content: "\e918";
}
.icon-kosher:before {
    content: "\e919";
}
.icon-local:before {
    content: "\e91a";
}
.icon-low-calorie:before {
    content: "\e91b";
}
.icon-low-fat:before {
    content: "\e91c";
}
.icon-low-sodium:before {
    content: "\e91d";
}
.icon-multi-grain:before {
    content: "\e91e";
}
.icon-natural-flavor:before {
    content: "\e91f";
}
.icon-natural-fruit:before {
    content: "\e920";
}
.icon-natural-omega-3:before {
    content: "\e921";
}
.icon-natural-vegetables:before {
    content: "\e922";
}
.icon-naturally-raised:before {
    content: "\e923";
}
.icon-organic-n-all-natural:before {
    content: "\e924";
}
.icon-pasteurized:before {
    content: "\e925";
}
.icon-pet-care:before {
    content: "\e926";
}
.icon-plant-based:before {
    content: "\e927";
}
.icon-raised-wo-antibiotics:before {
    content: "\e929";
}
.icon-rich-in-calcium:before {
    content: "\e92a";
}
.icon-shade-grown:before {
    content: "\e92b";
}
.icon-single-origin:before {
    content: "\e92c";
}
.icon-super-food:before {
    content: "\e92d";
}
.icon-whole-grain:before {
    content: "\e92e";
}
.icon-produced-without-antibiotics:before {
    content: "\e928";
}
