<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aislend>
            <alert>
                <allow_stock>0</allow_stock>
                <email_stock_template>aislend_alert_email_stock_template</email_stock_template>
                <email_identity>general</email_identity>
            </alert>
        </aislend>
    </default>
</config>
