<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

<!--    <event name="sales_order_save_after">
       <observer name="aislend_ordermanager_observer_salesordersaveafter" instance="Aislend\OrderManager\Observer\Salesordersaveafter" />
   </event>
   <event name="sales_order_place_after">
       <observer name="aislend_ordermanager_observer_salesorderplaceafter" instance="Aislend\OrderManager\Observer\Salesorderplaceafter" />
   </event>

  
 -->

</config>


