<?xml version="1.0"?>
<!-- /**
 * Webkul Software
 *
 * @category Webkul
 * @package Webkul_DistanceRateShipping
 * @author Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_DistanceRateShipping::distancerateshipping" title="Distance Rate Shipping" module="Webkul_DistanceRateShipping" sortOrder="10" resource="Webkul_DistanceRateShipping::distancerateshipping"/>
        <add id="Webkul_DistanceRateShipping::drshipping" title="Distance Rate Shipping Manager" module="Webkul_DistanceRateShipping" sortOrder="1" parent="Webkul_DistanceRateShipping::distancerateshipping" action="distancerateshipping/shipping" resource="Webkul_DistanceRateShipping::drshipping"/>
    </menu>
</config>
